<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Estudiante</title>
</head>
<body>
<h1>Editar Estudiante</h1>
<form action="{{ url_for('edit_estudiante', estudiante_id=estudiante.id) }}" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" value="{{estudiante.nombre}}" required>
    <br><br>
    <label for="materia">Materia:</label>
  <input type="text" id="materia" name="materia" value="{{estudiante.materia}}" required>
    <br><br>
    <label for="nota">Nota:</label>
  <input type="text" id="nota" name="nota" value="{{estudiante.nota}}" required>
    <br><br>
    <label for="fecha_registro">Fecha de Registro:</label>
  <input type="text" id="fecha_registro" name="fecha_registro" value="{{estudiante.fecha_registro}}" required>
    <br><br>
    <button type="submit">Actualizar</button>
</form>
<br><br>
<form action="{{ url_for('get_estudiantes') }}" method="get">
    <button type="submit">Volver atrás</button>
</form>

</body>
</html>
