<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <a href="{{ url_for('add_user')}}">Añadir</a>
    <ul>
        {% for user in users %}
        <li>ID: {{user.id}}, Nombre: {{user.name}} --------- Email: {{user.email}}

            <a href="{{ url_for('edit_user', user_id = user.id) }}">Editar</a>
            <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post">
                <button type="submit">Eliminar</button>
            </form>

        </li>
        {% endfor %}
    </ul>
</body>
</html>